<script src="./js/about.js"></script>

<style>
    * { font-family: sans-serif; }
    html, body {
        margin: 0;
        padding: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-height: 100vh;
        max-width: 600px;
        margin: 0 auto;
    }
    h3, p, table {
        padding-left: 16px;
        filter: drop-shadow(0 0 8px #aaa);
        color: #333;
    }
    .info {
        font-size: 17px;
        color: #fff;
        padding: 16px;
        box-shadow: 0 0 16px #ccc;
        border-radius: 4px;
    }
    .msg {
        resize: none;
        width: 100%;
        height: 128px;
        margin: 0;
        padding: 2%;
        margin: 15px 0 15px 0;
    }
    .name, .email {
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 0 2%;
        margin-bottom: 15px;
    }
    .send__btn {
        width: 50%;
        max-width: 256px;
        height: 48px;
        box-shadow: 0 0 8px #6699CC;
        background-color: #6699CC;
        border-width: 2px;
        border-style: solid;
        border-color: #6699CC;
        color: #fff;
        border-radius: 4px;
        font-weight: 900;
        padding: 10px;
        cursor: pointer;
    }
    .send__btn:hover {
        background-color: #fff;
        color: #6699CC;
    }
    .send__btn:active {
        box-shadow: none;
        font-weight: 500;
    }
</style>

<body>
    <h3>Andranik Sarkisyan</h3>
    <div>
        <p>Hi there!</p>
        <p>My name is Andranik.</p>
        <p>I am web & mobile developer from Russia.</p>
    </div>
    <h3>I can help you to ...</h3>
    <table>
        <tr>
            <td>
                1. Create app conception
            </td>
        </tr>
        <tr>
            <td>
                2. Develop MVP ... fast
            </td>
        </tr>
        <tr>
            <td>
                3. Develop solution redy for production
            </td>
        </tr>
        <tr>
            <td>
                4. Save you time and money
            </td>
        </tr>
    </table>
    <h3>If you want to create web app - better call Andranik =D</h3>
    <div class="info" id="contacts">
        <form action="javascript:sendRequest()">
            <textarea class="msg" type="text" placeholder="Message" maxlength="130" required></textarea>
            <input class="name" type="text" placeholder="Name" maxlength="35" required>
            <input class="email" type="email" placeholder="E-mail" maxlength="35" required>
            <button class="send__btn">Send</button>
        </form>
    </div>
</body>