<script src="./js/weather.js"></script>

<style>
    * {
        font-family: sans-serif;
    }
    canvas {
        filter: drop-shadow(0 0 4px #ccc);
    }
    p, h3 {
        filter: drop-shadow(0 0 2px #aaa);
        color: #333;
    }
    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-height: 100vh;
    }
    .back {
        padding:0;
        margin:0;
        position: fixed;
        top: 0;
        z-index: -100;
    }
    div.btnbg {
        position:fixed;
        left:0;
        top:0;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 16px 0;
    }
    form > input {
        width: 63%;
        height: 50px;
        min-width: 150px;
        padding: 0 15px;
    }
    form > button {
        padding: 0;
        width: 30%;
        height: 50px;
        min-width: 75px;
    }
    button {
        background-color: #6699CC;
        color: #fff;
        border-style: none;
        cursor: pointer;
        box-shadow: 0 0 8px #6699CC;
        font-weight: 900;
        border-radius: 4px;
    }
    button:hover {
        color: #6699CC;
        background-color: #fff;
    }
    button:active, button:focus {
        outline: none;
        box-shadow: none;
    }
    input {
        padding: 0 20px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #3331;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid #333;
        box-shadow:0 0 8px #ccc;
    }
    input:focus {    
        outline: none;
        border-color: #6699CC;
    }
    .popup_placeholder {
        background-color: #fff;
        top: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .popup {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 8px #ccc;
        padding: 25px;
        max-width: 256px;
        text-align: center;
        margin: 0 auto;
    }
    .popup > button {
        width: 150px;
        height: 48px;
    }
    .container {
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
    }
    .content {
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
    }
    .detail{
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
    }
    .title {
        text-align: start;
        padding: 0 24px;
        overflow: hidden;
    }
    .suggestions {
        background-color: #fff;
        width: 63%;
        margin: 0;
        padding: 8px 0;
        box-shadow: 0 0 8px #ccc;
        z-index: 999;
    }
    .geoloc {
        width: 30%;
    }
    .suggestions > p {
        padding: 7px 15px;
        margin: 0;
    }
    .suggestions > p:hover {
        background-color: #eee;
        cursor: pointer;
    }
    .nomap {
        width: 100%;
        max-height: 350px;
    }
    .weatherinfo {
        text-align: center;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        text-align: start;
        flex-wrap: wrap;
    }
    .meteoinfo {
        width: 96%;
        overflow: hidden;
        margin-bottom: 16px;
        margin: 16px auto;
        border-radius: 4px;
        box-shadow: 0 0 8px #ccc;
    }
    .meteoinfo > p {
        padding: 8px 32px;
        margin: 0;
    }
    .meteoinfo > p:hover {
        background-color: #eee;
        cursor: pointer;
    }
    .meteoinfo > p:active {
        background-color: #fff;
        cursor: pointer;
    }
    #map {
        height: 256px;
    }
    #myChart {
        margin: 20px 0 30px 0;
    }
    /* Loader animation */
    .loader_placeholder{
        display: flex;
        justify-content: center;
    }
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 14px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 3px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #333;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
        transform: scale(0);
        }
        100% {
        transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
        transform: scale(1);
        }
        100% {
        transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
        transform: translate(0, 0);
        }
        100% {
        transform: translate(24px, 0);
        }
    }
    .share {
        z-index: 999;
        box-shadow: 0 0 16px #ccc;
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }

    .share > a > img {
        margin: 8px;
        opacity: 0.72;
        border-radius: 6px;
    }

    .share > a > img:hover {
        opacity: 1;
    }
</style>

<body>
    <div class="popup_placeholder">
        <div class="popup">
            <h3>GPS warning</h3>
            <p>
                This app needs GPS to provide weather info based on your location. 
                Please turn on GPS on your device for better expirience.
            </p>
            <button onclick="hidepopup()">OK</button>
        </div>
    </div>
    <div class="container"></div>
    <div class="detail"></div>
    <div class="content"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>