<script>
    function sendRequest() {
        let msg = document.querySelector('.msg').value
        let name = document.querySelector('.name').value
        let email = document.querySelector('.email').value
        if (msg && name && email) {
            let fixedName = name.split(' ').join('_').replace(/[^a-z0-9_]/gi,'')
            let fixedEmail = email.replace(/[^a-z0-9.@]/gi,'')
            let fixedMsg = msg.split(' ').join('_').replace(/[^a-z0-9_]/gi,'')
            fetch('http://localhost:8000' + '?name=' + fixedName + '&email=' + fixedEmail + '&msg=' + fixedMsg)
                .then(function(value){
                    if(value.status !== 200){
                        return Promise.reject(new Error('Error ' + value.status));
                    }
                    setTimeout(leftFirst, 50)
                    setTimeout(leftSecond, 100)
                    setTimeout(() => {document.getElementById('contacts').remove()}, 200)
                })
        }
        else {
            function leftFirst() {
                document.querySelector('#contacts').style = "margin-left: 50px;"
            }
            function leftSecond() {
                document.querySelector('#contacts').style = "margin-left: 100px;"
            }
            function rightFirst() {
                document.querySelector('#contacts').style = "margin-left: 50px;"
            }
            function rightSecond() {
                document.querySelector('#contacts').style = ""
            }
            if (!document.querySelector('.msg').value) {
                document.querySelector('.msg').style = "border-color: tomato;"
            }
            if (!document.querySelector('.name').value) {
                document.querySelector('.name').style = "border-color: tomato;"
            }
            if (!document.querySelector('.email').value) {
                document.querySelector('.email').style = "border-color: tomato;"
            }
            function clearColor() {
                document.querySelector('.msg').style = ""
                document.querySelector('.name').style = ""
                document.querySelector('.email').style = ""
            }
            setTimeout(leftFirst, 50)
            setTimeout(leftSecond, 100)
            setTimeout(rightFirst, 150)
            setTimeout(rightSecond, 200)
            setTimeout(clearColor, 600)
        }
    }
</script>

<style>
    * { font-family: sans-serif; }
    html, body {
        margin: 0;
        padding: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-height: 100vh;
    }
    h3, p, table {
        padding-left: 16px;
        filter: drop-shadow(0 0 2px #aaa);
        color: #333;
    }
    .info {
        font-size: 17px;
        color: #fff;
        padding: 16px;
        box-shadow: 0 0 16px #ccc;
    }
    .msg {
        resize: none;
        width: 100%;
        height: 128px;
        margin: 0;
        padding: 2%;
        margin: 15px 0 15px 0;
    }
    .name, .email {
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 0 2%;
        margin-bottom: 15px;
    }
    .send__btn {
        width: 50%;
        max-width: 256px;
        height: 48px;
        box-shadow: 0 0 8px #6699CC;
        background-color: #6699CC;
        border-width: 2px;
        border-style: solid;
        border-color: #6699CC;
        color: #fff;
        border-radius: 4px;
        font-weight: 900;
        padding: 10px;
        cursor: pointer;
    }
    .send__btn:hover {
        background-color: #fff;
        color: #6699CC;
    }
    .send__btn:active {
        box-shadow: none;
        font-weight: 500;
    }
</style>

<body>
    <h3>Andranik Sarkisyan</h3>
    <div>
        <p>Hi there!</p>
        <p>My name is Andranik.</p>
        <p>I am a web & mobile developer from Russia.</p>
    </div>
    <h3>I can help you to ...</h3>
    <table>
        <tr>
            <td>
                1. Create app conception
            </td>
        </tr>
        <tr>
            <td>
                2. Develop MVP ... fast
            </td>
        </tr>
        <tr>
            <td>
                3. Develop solution redy for production
            </td>
        </tr>
        <tr>
            <td>
                4. Save you time and money
            </td>
        </tr>
    </table>
    <h3>If you want to create web app - better call Andranik =D</h3>
    <div class="info" id="contacts">
        <textarea class="msg" type="" placeholder="Message" maxlength="130"></textarea>
        <input class="name" type="text" placeholder="Name" maxlength="35">
        <input class="email" type="text" placeholder="e-mail" maxlength="35">
        <button class="send__btn" onclick="sendRequest()">Send</button>
        <br>
        <br>
    </div>
</body>